# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Visual Studio build files
*.obj
*.pch
*.pdb
*.dll
*.exe
*.lib

# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Plugin generated folders
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Packaged build files
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Unreal generated map build data
*_BuiltData.uasset